<div class="main-div mat-typography mat-app-background">
  <div class="header-row">
    <button mat-icon-button class="nav" color="accent">
      <mat-icon aria-label="Example icon-button with a heart icon">arrow_back_ios</mat-icon>
    </button>
    <h1 class="mat-display-2 month-header">January Calendar Tasks</h1>
    <button mat-icon-button class="nav" color="accent">
      <mat-icon aria-label="Example icon-button with a heart icon">arrow_forward_ios</mat-icon>
    </button>
  </div>
  <div class="caldiv">
    <mat-grid-list cols="7" rowHeight="30px">
      <mat-grid-tile class="dow">Sun</mat-grid-tile>
      <mat-grid-tile class="dow">Mon</mat-grid-tile>
      <mat-grid-tile class="dow">Tue</mat-grid-tile>
      <mat-grid-tile class="dow">Wed</mat-grid-tile>
      <mat-grid-tile class="dow">Thu</mat-grid-tile>
      <mat-grid-tile class="dow">Fri</mat-grid-tile>
      <mat-grid-tile class="dow">Sat</mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="7" rowHeight="125px" role="list">
      <mat-grid-tile *ngFor="let tile of tiles" role="listitem" class="caldates">
        <div class="day-border">
          <mat-grid-tile-header>{{tile.text}}</mat-grid-tile-header>
        </div>
        <div *ngIf="tile.count > 0">
          <button mat-fab color="primary">
            <mat-icon matBadge="{{tile.count}}" matBadgeColor="warn" aria-label="Example icon-button with a heart icon">calendar_today</mat-icon>
          </button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<router-outlet></router-outlet>
