.month-header {
  text-align: center;
  margin: 0 0 0 0;
  padding: 10px 10px 10px 10px;
}

.caldates {
  border: 2px solid #616161;
}

.mat-icon {
  vertical-align: bottom;
}

.header-row {
  display: flex;
  justify-content: center;
  // position: absolute;
}

.nav {
  height: 60px;
  width: 60px;
}

.caldiv {
  margin-left: 5px;
  margin-right: 5px;
}